<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
	</configSections>
	<appSettings>
		<add key="外网接收地址" value="mail.neolink.com.cn"/>
    <add key="外网接收端口号" value="110"/>
    <add key="外网发送地址" value="mail.neolink.com.cn"/>
    <add key="外网发送端口号" value="25"/>
    <add key="外网发送OAuth" value="false"/>
    <add key="外网域名" value ="neolink.com.cn"/>
    <!--<add key="外网接收地址" value="202.195.114.89"/>
		<add key="外网接收端口号" value="110"/>
		<add key="外网发送地址" value="202.195.114.89"/>
		<add key="外网发送端口号" value="25"/>-->
    <!--<add key="外网域名" value ="sdlserver1.com"/>-->
    <add key="内网接收地址" value ="202.195.114.89"/>
		<add key="内网接收端口号" value ="110"/>
		<add key="内网发送地址" value ="202.195.114.89"/>
    <add key="内网发送端口号" value ="25"/>
    <add key="内网发送OAuth" value ="true"/>
    <add key="内网域名" value ="sdlserver1.com"/>
		<add key="内网转发账号" value ="zhuanfa"/>
		<add key="内网转发密码" value ="1"/>
		<add key="开启外网转内网" value ="true"/>
		<add key="开启内网转外网" value ="true"/>
		<add key="检测周期" value="60"/>
	</appSettings>

	<log4net>
		<appender name="详细信息_文本" type="log4net.Appender.RollingFileAppender">
			<file value="日志\详细信息.log" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<datePattern value="yyyyMMdd" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="20MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-23property{DateTime} || %-11property{TraceEventType} || %5property{TraceId} || %3thread || %property{Title} || %message || %property{Extend} || %property{Line} || %property{Method} || %property{Type} || %property{File}%newline" />
			</layout>
		</appender>
		<appender name="错误信息_文本" type="log4net.Appender.RollingFileAppender">
			<threshold value="ERROR"/>
			<file value="日志\错误信息.log" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<datePattern value="yyyyMM" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="20MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-23property{DateTime} || %-11property{TraceEventType} || %5property{TraceId} || %3thread || %property{Title} || %message || %property{Extend} || %property{Line} || %property{Method} || %property{Type} || %property{File}%newline" />
			</layout>
		</appender>
		<root>
			<level value="ALL"/>
			<appender-ref ref="详细信息_文本"/>
			<appender-ref ref="错误信息_文本"/>
		</root>
	</log4net>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>